* {
  box-sizing: border-box;
}

.header {
text-align: center;
}

.logo {
 width: 200px;
}

body {
  background-color: rgb(77, 103, 42);
  margin-bottom: 0;
  font-family: 'Inconsolata Regular', monospace;
  font-size: 12px;
  line-height: 150%;
  overflow-x: hidden;
  cursor: url("wand.ico"), default;
}
 
p {
  font-family: 'Inconsolata Regular', monospace;
  font-size: 12px;
  color: white;
  text-align: justify;
  padding-inline: 5rem;
  padding-top: 1rem;
}

.navbar {
  font-family: 'Inconsolata Regular'monospace;
  font-size: 12px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

ul li {
  display: inline-block;
  width: 20%;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
  cursor: url("wand.ico"), pointer;
}

ul li a:active {
  color: greenyellow;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-family: 'Inconsolata Regular', monospace;
  font-size: 12px;
  color: black;
  padding-left: 1%;
  background-color: white;
}

.main-container {
  display: flex;
  width: 100%;
}
.scroll-container {
  flex-grow: 1;
  overflow: hidden;
}
.text-row {
  white-space: nowrap;
  padding: 2px 0;
  display: flex;
  align-items: center;
  background-color: none;
}

.infinite-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}
.text-scroll {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.text-item {
  font-size: 0.7rem;
  font-weight: regular;
  color: white;
}

.star {
  font-size: 1rem;
  margin: 10px 30px;
  color: white;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: white;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(104, 43, 226); 
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 23, 133);
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-inline: 5rem;
  padding-bottom: 5rem;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.portfolio {
  text-align: center;
}

.visual {
   -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}

.visual img {
  margin-top: .2rem;
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .visual {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
